*{
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ///////////////////////////////// Général  */
/* Les sélecteurs généraux ont un impact sur chacune des section de la page */
body{
    margin:0;
    padding:0;
}
h1,h2,h3 {
    margin:0;
}
figure{
    margin:0;
}
img{
    display:block;
    width:100%;
}



section,header,footer{
    min-height:100vh;
}


.centre {
   max-width: 1100px;
   margin : 0 auto;
   background-color:   rgb(240 248 255 / 57%);
   padding : 30px;
}

/* ///////////////////////  Couleurs d'arrière plan de chacune des section */

.conteneur:nth-of-type(1){

        background: 
        linear-gradient(180deg, transparent 80%, #000),
        url("../images/montreal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  /*  background-position: 50%;*/
}
.conteneur:nth-of-type(2){
        background: 
        linear-gradient(0deg, transparent 80%, #000),
        url("../images/39963669.webp");
      background-repeat: no-repeat;
         background-size: cover;
}
.conteneur:nth-of-type(3){
      background-color: rgb(17, 118, 138);
}
.conteneur:nth-of-type(4){
    background-color: rgb(163, 42, 182);
}

.conteneur:nth-of-type(5){
    background-color: rgb(228, 205, 27);
}

.conteneur:nth-of-type(6){
     background-color: rgb(44, 39, 4);
}


/* ////////////////////////////////////////////////// .hero */

.hero {

}

.hero__h1{
    font-size: 4rem;
}




.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:

}


.hero__bouton{
    display: block;
    padding : 10px;
   background: linear-gradient(264deg,rgba(2, 0, 36, 1) 0%, rgba(26, 26, 199, 1) 100%);
    width : 200px;
    font-size: 2rem;
    text-decoration: none;
    color : #fff;
    border-radius: 5px;
    text-align: center;
}

.hero__bouton:hover{
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(26, 26, 199, 1) 100%);
}

